/* body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.news-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.news-item h2 {
    margin: 0;
}

.news-item a {
    color: blue;
    text-decoration: none;
} */

.card-text-custom {
    display: -webkit-box;
    display: box; /* Add this for compatibility */
    -webkit-line-clamp: 3; /* Jumlah baris yang ingin ditampilkan */
    line-clamp: 3; /* Add this for compatibility */
    -webkit-box-orient: vertical;
    box-orient: vertical; /* Add this for compatibility */
    overflow: hidden;
    text-overflow: ellipsis;
}
